<?xml version='1.0' encoding='windows-1252'?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='OpenMSPDNode_3_0' Manufacturer='OpenMS Team'
        Id='477329ad-a5a8-42f0-8114-7db495b978ce' 
        UpgradeCode='4843834a-e325-46c2-a782-ff0c38bab16a'
        Language='1033' Codepage='1252' Version='3.0.0'
		>	
		
		 <!-- elevated InstallPrivileges needed because we install into the Proteome Discoverer Folder -->
		<Package Id='*' Keywords='Installer' Description="OpenMS PD nodes Installer"
			InstallerVersion='300' 
			Languages='1033' 
			Compressed='yes' 
			SummaryCodepage='1252'
			InstallPrivileges="elevated"
			Platform="x64"
			/>

    <Media Id="1" Cabinet="opennuxl.cab" EmbedCab="yes" CompressionLevel="medium" />

	<!-- Step 1: Find the Proteome Discoverer 3.0 path from registry -->
	<Property Id="PROTEOME_DISCOVERER_PATH" Secure="yes">
            <RegistrySearch Id="ProteomeDiscovererInstallPath"
                      Root="HKLM"
                      Key="SOFTWARE\Thermo Scientific\Proteome Discoverer\3.0"
                      Type="raw"
                      Win64="yes" />
        </Property>


	<!-- Through the error need a Proteome Discoverer 3.0 -->
	<Condition Message="Proteome Discoverer 3.0 must be installed to proceed.">
     			 <![CDATA[PROTEOME_DISCOVERER_PATH OR Installed]]>
      </Condition>

	  <!-- Step 2: Set TARGETDIR based on PROTEOME_DISCOVERER_PATH -->
        <CustomAction Id="SetTARGETDIR"
                      Property="TARGETDIR"
                      Value="[PROTEOME_DISCOVERER_PATH]"
                      Return="check" />

        <!-- Custom Action to Show Success Message -->
	  <Binary Id="ShowMessageScript" SourceFile="SourceDir/ShowSuccessMessage.vbs" />
	  <CustomAction Id="ShowSuccessMessage" BinaryKey="ShowMessageScript" VBScriptCall="" Execute="immediate" Return="check" />

        <InstallExecuteSequence>
            <Custom Action="SetTARGETDIR" Before="CostFinalize">NOT Installed</Custom>
		<Custom Action="ShowSuccessMessage" After="InstallFinalize">NOT Installed</Custom>
        </InstallExecuteSequence>

		<!-- Step 3: Define the directory structure -->
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='PDSystemFiles' Name='System'>
				<Directory Id='PDSystemReleaseFiles' Name='Release'/>
			</Directory>
			<Directory Id='PDToolsFiles' Name='Tools'>
				<Directory Id='NuXL' Name='NuXL'>
					<Directory Id='NuXLBin' Name='bin' />
					<Directory Id='NuXLShar' Name='share'>	
						 <Directory Id="NuXLShareOpenMS" Name="OpenMS"/>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		
            <!-- Step 4: Add node files to your installer package -->
		<DirectoryRef Id='PDSystemReleaseFiles'>
			<Component Id='OpenMSNode' Guid='245ddb1b-3166-41d7-b429-67b90a1920df'>
				<File Id='PD.OpenMS.AdapterNodes.dll' Name='PD.OpenMS.AdapterNodes.dll' Source='SourceDir\PD.OpenMS.AdapterNodes.dll' KeyPath='yes' />
			</Component>
			<Component Id='ZedGraphDLL' Guid='79abf4d4-fe37-495c-8d96-c74a22465cb3'>
				<File Id='ZedGraph_OpenMS.dll' Name='ZedGraph_OpenMS.dll' Source='SourceDir\ZedGraph_OpenMS.dll' KeyPath='yes' />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id='NuXLBin'>
			<Component Id='OpenMSDLL' Guid='45eba75f-de71-4aec-a4fc-63f9843e2dca'>
				<File Id='OpenMS.dll' Name='OpenMS.dll' Source='SourceDir\OpenMS.dll' KeyPath='yes' />
			</Component>
			<Component Id='OpenNuXLExe' Guid='62a9b8df-b548-4f7c-a760-870ecb3f62cf'>
				<File Id='OpenNuXL.exe' Name='OpenNuXL.exe' Source='SourceDir\OpenNuXL.exe' KeyPath='yes' />
			</Component>
			<Component Id='percolator' Guid='63f62d47-e8b5-47a3-a920-55c9bbb3245b'>
				<File Id='percolator.exe' Name='percolator.exe' Source='SourceDir\percolator.exe' KeyPath='yes' />
			</Component>
			<Component Id='FeatureFinderCentroidedExe' Guid='32da6344-696b-4541-b170-0bcfbb24dd9a'>
				<File Id='FeatureFinderCentroided.exe' Name='FeatureFinderCentroided.exe' Source='SourceDir\FeatureFinderCentroided.exe' KeyPath='yes' />
			</Component>
			<Component Id='libbz2DLL' Guid='ceab2390-68b8-4f67-ba08-bda2285045fe'>
				<File Id='libbz2.dll' Name='libbz2.dll' Source='SourceDir\libbz2.dll' KeyPath='yes' />
			</Component>
			<Component Id='MapAlignerPoseClusteringExe' Guid='38fc1f87-1faa-4498-b5bb-7e4e17b24c5f'>
				<File Id='MapAlignerPoseClustering.exe' Name='MapAlignerPoseClustering.exe' Source='SourceDir\MapAlignerPoseClustering.exe' KeyPath='yes' />
			</Component>
			<Component Id='MapRTTransformerExe' Guid='d9773073-13b9-4f8c-be61-36605bc9befc'>
				<File Id='MapRTTransformer.exe' Name='MapRTTransformer.exe' Source='SourceDir\MapRTTransformer.exe' KeyPath='yes' />
			</Component>
			<Component Id='OpenMS_GUIDLL' Guid='c40eb19f-a6e5-4f73-a8e8-352d6cf615ff'>
				<File Id='OpenMS_GUI.dll' Name='OpenMS_GUI.dll' Source='SourceDir\OpenMS_GUI.dll' KeyPath='yes' />
			</Component>
			<Component Id='OpenSwathAlgoDLL' Guid='3bcf4237-6fca-42a3-ad9d-afbbd14659c7'>
				<File Id='OpenSwathAlgo.dll' Name='OpenSwathAlgo.dll' Source='SourceDir\OpenSwathAlgo.dll' KeyPath='yes' />
			</Component>
			<Component Id='PercolatorAdapterExe' Guid='de8f05af-cb8d-418c-b11d-f41c1a6e7a90'>
				<File Id='PercolatorAdapter.exe' Name='PercolatorAdapter.exe' Source='SourceDir\PercolatorAdapter.exe' KeyPath='yes' />
			</Component>
			<Component Id='Qt5CoreDLL' Guid='3d5929e8-847e-4385-bb77-4e26cb01d8e9'>
				<File Id='Qt5Core.dll' Name='Qt5Core.dll' Source='SourceDir\Qt5Core.dll' KeyPath='yes' />
			</Component>
			<Component Id='Qt5GuiDLL' Guid='b8a9e438-86c9-41a5-825b-511cd69801b6'>
				<File Id='Qt5Gui.dll' Name='Qt5Gui.dll' Source='SourceDir\Qt5Gui.dll' KeyPath='yes' />
			</Component>
			<Component Id='Qt5NetworkDLL' Guid='a3dcb8d1-acfb-411b-8849-a64ecef1842c'>
				<File Id='Qt5Network.dll' Name='Qt5Network.dll' Source='SourceDir\Qt5Network.dll' KeyPath='yes' />
			</Component>
			<Component Id='Qt5SqlDLL' Guid='881ac646-ba6e-4d63-a3d4-08964d38e0ff'>
				<File Id='Qt5Sql.dll' Name='Qt5Sql.dll' Source='SourceDir\Qt5Sql.dll' KeyPath='yes' />
			</Component>
			<Component Id='Qt5WidgetsDLL' Guid='609c3cab-2e97-4afe-8552-b87a2c3a423e'>
				<File Id='Qt5Widgets.dll' Name='Qt5Widgets.dll' Source='SourceDir\Qt5Widgets.dll' KeyPath='yes' />
			</Component>
			<Component Id='RNPxlXICFilterExe' Guid='24a2054d-b7c3-4ab2-9001-258d0b21a649'>
				<File Id='RNPxlXICFilter.exe' Name='RNPxlXICFilter.exe' Source='SourceDir\RNPxlXICFilter.exe' KeyPath='yes' />
			</Component>
			<Component Id='SuperHirnDLL' Guid='bbd9306c-af8f-4de0-90c7-ea100ec33656'>
				<File Id='SuperHirn.dll' Name='SuperHirn.dll' Source='SourceDir\SuperHirn.dll' KeyPath='yes' />
			</Component>
		</DirectoryRef>
		
		<!-- Step 5: Tell WiX to install the files -->		
		<Feature Id='Complete' Level='1'>
			<ComponentRef Id='OpenMSNode' />
			<ComponentRef Id='ZedGraphDLL' />
			<ComponentRef Id='OpenMSDLL' />
			<ComponentRef Id='OpenNuXLExe' />
			<ComponentRef Id='percolator' />

			<ComponentRef Id='FeatureFinderCentroidedExe' />
			<ComponentRef Id='libbz2DLL' />
			<ComponentRef Id='MapAlignerPoseClusteringExe' />
			<ComponentRef Id='MapRTTransformerExe' />
			<ComponentRef Id='OpenMS_GUIDLL' />
			<ComponentRef Id='OpenSwathAlgoDLL' />
			<ComponentRef Id='PercolatorAdapterExe' />
			<ComponentRef Id='Qt5CoreDLL' />
			<ComponentRef Id='Qt5GuiDLL' />

			<ComponentRef Id='Qt5NetworkDLL' />
			<ComponentRef Id='Qt5SqlDLL' />
			<ComponentRef Id='Qt5WidgetsDLL' />
			<ComponentRef Id='RNPxlXICFilterExe' />
			<ComponentRef Id='SuperHirnDLL' />

                  <!-- Step 6: This will include the heat generated components (both wix files need to be passed to candle) -->		
			<ComponentGroupRef Id='OpenMSShareComponents' />
		</Feature>
    </Product>
</Wix>
